<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <allegro>
            <general>
                <authentication_url>https://allegro.pl/auth/oauth</authentication_url>
                <sandbox_authentication_url>https://allegro.pl.allegrosandbox.pl/auth/oauth</sandbox_authentication_url>
            </general>
            <credentials>
                <client_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </credentials>
            <order>
                <enabled>1</enabled>
                <overpayment_status>Pending:allegro_overpayment</overpayment_status>
                <underpayment_status>Pending:allegro_underpayment</underpayment_status>
                <stock_synchronization_enabled>1</stock_synchronization_enabled>
                <tracking_number_sending_enabled>1</tracking_number_sending_enabled>
                <debug_mode_enabled>0</debug_mode_enabled>
            </order>
            <offer_create>
                <ean_attribute>sku</ean_attribute>
            </offer_create>
        </allegro>
    </default>
</config>
