<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Macopedia\Allegro\Api\Data\TokenInterface" type="Macopedia\Allegro\Model\Api\Auth\Data\Token" />
    <preference for="Macopedia\Allegro\Api\ConsumerInterface" type="Macopedia\Allegro\Model\Consumer" />
    <preference for="Macopedia\Allegro\Api\Consumer\MessageInterface" type="Macopedia\Allegro\Model\Consumer\Message" />
    <preference for="Macopedia\Allegro\Api\ProductRepositoryInterface" type="Macopedia\Allegro\Model\ProductRepository" />
    <preference for="Macopedia\Allegro\Api\OrderRepositoryInterface" type="Macopedia\Allegro\Model\OrderRepository" />
    <preference for="Macopedia\Allegro\Api\OfferRepositoryInterface" type="Macopedia\Allegro\Model\OfferRepository" />
    <preference for="Macopedia\Allegro\Api\CategoryRepositoryInterface" type="Macopedia\Allegro\Model\CategoryRepository" />
    <preference for="Macopedia\Allegro\Api\ParameterDefinitionRepositoryInterface" type="Macopedia\Allegro\Model\ParameterDefinitionRepository" />
    <preference for="Macopedia\Allegro\Api\PublicationCommandRepositoryInterface" type="Macopedia\Allegro\Model\PublicationCommandRepository" />
    <preference for="Macopedia\Allegro\Api\QuantityCommandInterface" type="Macopedia\Allegro\Model\QuantityCommand" />
    <preference for="Macopedia\Allegro\Api\PriceCommandInterface" type="Macopedia\Allegro\Model\PriceCommand" />
    <preference for="Macopedia\Allegro\Api\ImageRepositoryInterface" type="Macopedia\Allegro\Model\ImageRepository" />
    <preference for="Macopedia\Allegro\Api\EventRepositoryInterface" type="Macopedia\Allegro\Model\EventRepository" />
    <preference for="Macopedia\Allegro\Api\CheckoutFormRepositoryInterface" type="Macopedia\Allegro\Model\CheckoutFormRepository" />
    <preference for="Macopedia\Allegro\Api\DeliveryMethodRepositoryInterface" type="Macopedia\Allegro\Model\DeliveryMethodRepository" />
    <preference for="Macopedia\Allegro\Api\ShippingRateRepositoryInterface" type="Macopedia\Allegro\Model\ShippingRateRepository" />
    <preference for="Macopedia\Allegro\Api\ImpliedWarrantyRepositoryInterface" type="Macopedia\Allegro\Model\ImpliedWarrantyRepository" />
    <preference for="Macopedia\Allegro\Api\ReturnPolicyRepositoryInterface" type="Macopedia\Allegro\Model\ReturnPolicyRepository" />
    <preference for="Macopedia\Allegro\Api\WarrantyRepositoryInterface" type="Macopedia\Allegro\Model\WarrantyRepository" />
    <preference for="Macopedia\Allegro\Api\OrderLogRepositoryInterface" type="Macopedia\Allegro\Model\OrderLogRepository" />
    <preference for="Macopedia\Allegro\Api\ReservationRepositoryInterface" type="Macopedia\Allegro\Model\ReservationRepository" />

    <preference for="Macopedia\Allegro\Api\Data\OfferInterface" type="Macopedia\Allegro\Model\Data\Offer" />
    <preference for="Macopedia\Allegro\Api\Data\Offer\LocationInterface" type="Macopedia\Allegro\Model\Data\Offer\Location" />
    <preference for="Macopedia\Allegro\Api\Data\Offer\AfterSalesServicesInterface" type="Macopedia\Allegro\Model\Data\Offer\AfterSalesServices" />
    <preference for="Macopedia\Allegro\Api\Data\CategoryInterface" type="Macopedia\Allegro\Model\Data\Category" />
    <preference for="Macopedia\Allegro\Api\Data\ParameterDefinitionInterface" type="Macopedia\Allegro\Model\Data\ParameterDefinition" />
    <preference for="Macopedia\Allegro\Api\Data\ParameterDefinition\DictionaryItemInterface" type="Macopedia\Allegro\Model\Data\ParameterDefinition\DictionaryItem" />
    <preference for="Macopedia\Allegro\Api\Data\ParameterDefinition\RestrictionInterface" type="Macopedia\Allegro\Model\Data\ParameterDefinition\Restriction" />
    <preference for="Macopedia\Allegro\Api\Data\ParameterInterface" type="Macopedia\Allegro\Model\Data\Parameter" />
    <preference for="Macopedia\Allegro\Api\Data\ParameterInterfaceFactoryInterface" type="Macopedia\Allegro\Model\Data\ParameterFactory" />
    <preference for="Macopedia\Allegro\Api\Data\Parameter\RangeInterface" type="Macopedia\Allegro\Model\Data\Parameter\Range" />
    <preference for="Macopedia\Allegro\Api\Data\Parameter\ValuesIdsInterface" type="Macopedia\Allegro\Model\Data\Parameter\ValuesIds" />
    <preference for="Macopedia\Allegro\Api\Data\Parameter\ValuesInterface" type="Macopedia\Allegro\Model\Data\Parameter\Values" />
    <preference for="Macopedia\Allegro\Api\Data\PublicationCommandInterface" type="Macopedia\Allegro\Model\Data\PublicationCommand" />
    <preference for="Macopedia\Allegro\Api\Data\ImageInterface" type="Macopedia\Allegro\Model\Data\Image" />
    <preference for="Macopedia\Allegro\Api\Data\EventInterface" type="Macopedia\Allegro\Model\Data\Event" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutFormInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\BuyerInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Buyer" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\DeliveryInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Delivery\MethodInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery\Method" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Delivery\CostInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery\Cost" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Delivery\AddressInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery\Address" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Delivery\PickupPointInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery\PickupPoint" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Delivery\PickupPoint\AddressInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Delivery\PickupPoint\Address" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\InvoiceInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Invoice" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Invoice\AddressInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Invoice\Address" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Invoice\Address\CompanyInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Invoice\Address\Company" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\Invoice\Address\NaturalPersonInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Invoice\Address\NaturalPerson" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\PaymentInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Payment" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\LineItemInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\LineItem" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\SummaryInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Summary" />
    <preference for="Macopedia\Allegro\Api\Data\CheckoutForm\AmountInterface" type="Macopedia\Allegro\Model\Data\CheckoutForm\Amount" />
    <preference for="Macopedia\Allegro\Api\Data\DeliveryMethodInterface" type="Macopedia\Allegro\Model\Data\DeliveryMethod" />
    <preference for="Macopedia\Allegro\Api\Data\ShippingRateInterface" type="Macopedia\Allegro\Model\Data\ShippingRate" />
    <preference for="Macopedia\Allegro\Api\Data\ImpliedWarrantyInterface" type="Macopedia\Allegro\Model\Data\ImpliedWarranty" />
    <preference for="Macopedia\Allegro\Api\Data\ReturnPolicyInterface" type="Macopedia\Allegro\Model\Data\ReturnPolicy" />
    <preference for="Macopedia\Allegro\Api\Data\WarrantyInterface" type="Macopedia\Allegro\Model\Data\Warranty" />
    <preference for="Macopedia\Allegro\Api\Data\Sales\Order\PickupPointExtensionAttributesInterface" type="Macopedia\Allegro\Model\Data\Sales\Order\PickupPointExtensionAttributes" />
    <preference for="Macopedia\Allegro\Api\Data\OrderLogInterface" type="Macopedia\Allegro\Model\OrderLog" />
    <preference for="Macopedia\Allegro\Api\Data\ReservationInterface" type="Macopedia\Allegro\Model\Reservation" />
    <preference for="Macopedia\Allegro\Api\Data\AllegroReservationsInterface" type="Macopedia\Allegro\Model\OrderImporter\AllegroReservation" />

    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Info" type="Macopedia\Allegro\Block\Adminhtml\HideAddressInformation" />
    <preference for="Magento\InventoryReservations\Model\ResourceModel\SaveMultiple" type="Macopedia\Allegro\Preference\Model\ResourceModel\SaveMultiple" />

    <type name="Macopedia\Allegro\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">importLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="exception" xsi:type="object">Macopedia\Allegro\Logger\ExceptionHandler</item>
                <item name="api" xsi:type="object">Macopedia\Allegro\Logger\ApiHandler</item>
                <item name="request" xsi:type="object">Macopedia\Allegro\Logger\HttpRequestHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="OrdersImport" xsi:type="object">Macopedia\Allegro\Console\Command\ImportOrders</item>
                <item name="OrderImport" xsi:type="object">Macopedia\Allegro\Console\Command\ImportOrder</item>
                <item name="OrdersWithErrorsImport" xsi:type="object">Macopedia\Allegro\Console\Command\ImportOrdersWithErrors</item>
                <item name="CleanOffersMapping" xsi:type="object">Macopedia\Allegro\Console\Command\CleanOffersMapping</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="external_id" xsi:type="string">sales_order.external_id</item>
                <item name="order_from" xsi:type="string">sales_order.order_from</item>
                <item name="allegro_buyer_login" xsi:type="string">sales_order.allegro_buyer_login</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="save_pickup_location" type="Macopedia\Allegro\Plugin\OrderSave"/>
        <plugin name="get_pickup_location" type="Macopedia\Allegro\Plugin\OrderGet"/>
    </type>

    <type name="Magento\Shipping\Model\Shipping">
        <plugin name="update_shipping_rate_price_for_allegro_orders" type="Macopedia\Allegro\Plugin\UpdateShippingRatePrice" />
    </type>

    <type name="Magento\Quote\Model\Quote\TotalsCollectorList">
        <plugin name="remove_discount_calculation" type="Macopedia\Allegro\Plugin\RemoveDiscountCalculation" />
    </type>

    <type name="Magento\Inventory\Model\ResourceModel\SourceItem\SaveMultiple">
        <plugin name="import_stocks_update" type="Macopedia\Allegro\Plugin\InventorySourceItemSaveMultiple" />
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="allegro_orders_with_errors_listing_data_source" xsi:type="string">Macopedia\Allegro\Model\ResourceModel\OrderLog\Collection\Grid</item>
                <item name="allegro_reservations_listing_data_source" xsi:type="string">Macopedia\Allegro\Model\ResourceModel\Reservation\Collection\Grid</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Macopedia\Allegro\Model\ResourceModel\OrderLog\Collection\Grid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">allegro_orders_with_errors</argument>
            <argument name="resourceModel" xsi:type="string">Macopedia\Allegro\Model\ResourceModel\OrderLog</argument>
        </arguments>
    </virtualType>

    <virtualType name="Macopedia\Allegro\Model\ResourceModel\Reservation\Collection\Grid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">allegro_reservations</argument>
            <argument name="resourceModel" xsi:type="string">Macopedia\Allegro\Model\ResourceModel\Reservation</argument>
        </arguments>
    </virtualType>

</config>
