<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="allegro" sortOrder="900" translate="label">
            <label>Allegro</label>
        </tab>
        <section id="allegro" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Configuration</label>
            <tab>allegro</tab>
            <resource>Macopedia_Allegro::config_macopedia_allegro</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="authenticate" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Macopedia\Allegro\Block\Adminhtml\System\Authenticate</frontend_model>
                </field>
                <field id="sandbox" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is sandox account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="authentication_url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Authentication Url</label>
                    <depends>
                        <field id="sandbox">0</field>
                    </depends>
                    <comment><![CDATA[
                    Register App in <a target="_blank" href="https://apps.developer.allegro.pl/">https://apps.developer.allegro.pl/</a>
                    ]]></comment>
                </field>
                <field id="sandbox_authentication_url" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Sandbox Authentication Url</label>
                    <depends>
                        <field id="sandbox">1</field>
                    </depends>
                    <comment><![CDATA[
                    Register App in <a target="_blank" href="https://apps.developer.allegro.pl.allegrosandbox.pl/">https://apps.developer.allegro.pl.allegrosandbox.pl/</a>
                    ]]></comment>
                </field>
                <field id="callback_url" translate="label comment" type="label" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use following callback</label>
                    <comment>
                        <model>\Macopedia\Allegro\Model\Config\CommentText\CallbackUrl</model>
                    </comment>
                </field>
            </group>
            <group id="credentials" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <label>Credentials</label>
                <field id="client_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Client Id</label>
                    <comment/>
                </field>
                <field id="client_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="obscure">
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <label>Client Secret</label>
                    <comment/>
                </field>
            </group>
            <group id="order" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order import</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order import enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="stock_synchronization_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stock synchronization enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracking_number_sending_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracking number sending enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="reservations_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reservations enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="reservations_cron_enabled" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="reservations_enabled">1</field>
                    </depends>
                    <label>Cron for cleaning old reservations enabled</label>
                    <comment>Cron deletes reservations older than 10 days</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="offers_mapping_cron_enabled" translate="label comment" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron for cleaning old offers mapping enabled</label>
                    <comment>Cron removes Allegro offer ID from product when offer no longer exists</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="store" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store to create new orders</label>
                    <source_model>Magento\Store\Model\System\Store</source_model>
                </field>
                <field id="overpayment_status" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Status for orders with overpayment</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\State</source_model>
                </field>
                <field id="underpayment_status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Status for orders with underpayment</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\State</source_model>
                </field>
            </group>
            <group id="debug_mode" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Debug mode</label>
                <field id="debug_mode_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug mode enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="price_policy" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Price policy</label>
                <field id="price_policy_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Price policy enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="percent_increase" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Prices higher on Allegro by the given percentage</label>
                    <depends>
                        <field id="price_policy_enabled">1</field>
                    </depends>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
            </group>
            <group id="offer_create" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Offer create</label>
                <comment>Attributes are taken from the default scope</comment>
                <field id="ean_attribute" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attribute for getting EAN</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="description_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attribute for getting description</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="price_attribute" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attribute for getting price</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
            <group id="delivery" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Delivery</label>
                <field id="mapping" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery methods - methods guid mapping</label>
                    <frontend_model>Macopedia\Allegro\Block\Adminhtml\Config\Form\Field\DeliveryMethods</frontend_model>
                    <backend_model>Macopedia\Allegro\Model\Config\Backend\DeliveryMethods</backend_model>
                    <comment>As an Allegro method name please provide name of shipping option used in your offers on Allegro - i.e. "Allegro Paczkomaty 24/7 InPost" or "Paczka pocztowa ekonomiczna".</comment>
                </field>
                <field id="default_method" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default shipping method</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ActiveSippingMethods</source_model>
                </field>
            </group>
            <group id="payment" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment</label>
                <field id="method_online" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment method for online payments</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ActivePaymentMethods</source_model>
                </field>
                <field id="method_cash_on_delivery" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Payment method for cash on delivery</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\ActivePaymentMethods</source_model>
                </field>
            </group>
            <group id="origin" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Origin</label>
                <field id="country_id" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="province" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Province</label>
                    <source_model>Macopedia\Allegro\Model\Config\Source\Province</source_model>
                </field>
                <field id="post_code" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Post Code</label>
                </field>
                <field id="city" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>City</label>
                </field>
            </group>
        </section>
    </system>
</config>

